body {
    background-color: #9FEDD7;
}

.main-view-form-style {
    max-width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.login-form-style {
    align-items: center;
    height: 100%;
    /*background-image: linear-gradient(to bottom right, #fce181, #FDF0A6);*/
    background-image:
            radial-gradient(ellipse closest-side, #FCFFD4, #F8E098);
}

.username-style {
    width: 100%;
}

.password-style {
    width: 100%;
}

.login-button-style, .register-button-style {
    width: 100%;
}

.login-button-style{
    background-color: #026670;
    color: #F6F6F6;
}

.register-button-style{
    color: #026670;
}
