.header {
    background-color: #026670;
    padding: 0.5rem;
}

.logout-button {
    background: rgb(255,193,7);
    background: linear-gradient(90deg, rgba(255,193,7,0.8550770650056898) 0%, rgba(255,218,107,0.8830882694874825) 51%, rgba(255,193,7,0.7934524151457458) 100%);
    color: #fff3e0;
    margin-left: auto;
}

.logo {
    margin-top: 0;
    margin-bottom: 0;
}

.active-link {
    background: rgb(255,193,7);
    background: linear-gradient(90deg, rgba(255,193,7,0.8550770650056898) 0%, rgba(255,218,107,0.8830882694874825) 51%, rgba(255,193,7,0.7934524151457458) 100%);
    color: #fff3e0;
    font-size: larger;
}

.link-button{
    color: #026670;
    width: 100%;
}

.navbar-header{
    align-self: center;
}