body {
    background-color: rgba(192, 215, 255, 0.25);
}

.main-view-form-style {
    align-items: center;
    align-content: center;
    vertical-align: center;
}

.username-style {

}

.username-style {

}

.login-button-style {

}